.one{
    width: 50%;
    height: 30vh;
    margin: auto;
    background: lightblue;
}

.two{
    width: 50%;
    height: 30vh;
    margin: auto;
    background: rgb(190, 90, 90);
}

.main{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2rem;   
}